<footer class="footer">
    <div class="footer__container container">

        <div class="footer__row">

            <div class="footer__column">
                <div class="footer__logo">
                    <img src="img/logo-img.png" alt="" class="header__logo-icon">
                    <img src="img/logo-text.png" alt="DREAMKAM Toor" class="header__logo-text">
                </div>
                <nav class="footer__nav">
                    <ul class="nav nav__list">
                        <li class="nav__item">  <a href="#" class="nav__link">Расписание тура</a>   </li>
                        <li class="nav__item">  <a href="#" class="nav__link">Стоимость</a>   </li>
                        <li class="nav__item">  <a href="#" class="nav__link">Как записаться</a>   </li>
                        <li class="nav__item">  <a href="#" class="nav__link">Команда</a>   </li>
                    </ul>
                </nav>
            </div>

            <div class="footer__column instagram">
                <div class="instagram__title">
                    <span class="instagram__name">@dreamkamtour</span>
                    <a href="#" class="instagram__link">Подписаться</a>
                </div>

                <div class="instagram-photo">
                    <ul class="instagram-photo__list">
                        <li class="instagram-photo__item">
                            <a href="#" class="instagram-photo__link">
                                <img class="instagram-photo__img" src="img/inst__img.png" alt="">
                            </a>
                        </li>
                        <li class="instagram-photo__item">
                            <a href="#" class="instagram-photo__link">
                                <img class="instagram-photo__img" src="img/inst__img2.png" alt="">
                            </a>
                        </li>
                        <li class="instagram-photo__item">
                            <a href="#" class="instagram-photo__link">
                                <img class="instagram-photo__img" src="img/inst__img3.png" alt="">
                            </a>
                        </li>
                        <li class="instagram-photo__item">
                            <a href="#" class="instagram-photo__link">
                                <img class="instagram-photo__img" src="img/inst__img4.png" alt="">
                            </a>
                        </li>
                        <li class="instagram-photo__item">
                            <a href="#" class="instagram-photo__link">
                                <img class="instagram-photo__img" src="img/inst__img5.png" alt="">
                            </a>
                        </li>
                        <li class="instagram-photo__item">
                            <a href="#" class="instagram-photo__link">
                                <img class="instagram-photo__img" src="img/inst__img.png" alt="">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="footer__column">
                <div class="feedback">
                    <div class="feedback__logo">
                        <img class="feedback__img" src="img/inst__logo.png" alt="">
                    </div>

                    <div class="feedback__descr">
                        <h3 class="feedback__title">Смотрите видео отзывы наших клиентов</h3>
                        <a href="#" class="feedback__link" target="_blank">Перейти в Instagram</a>
                    </div>
                </div>

                <div class="social">
                    <h3 class="social__title">Социальные сети</h3>
                    <ul class="social__list">
                        <a href="#" class="social__link" target="_blank"></a>
                    </ul>
                </div>
            </div>

            <div class="footer__column">
                <div class="work">
                    <a href="tel:+77603542323" class="work__link-tel">+&nbsp;7(760)&nbsp;354-23-23</a>
                    <span class="work__time">Работаем с 9:00 до 18:00</span>
                </div>
                <ul class="contacts">
                    <a class="contacts__link-mail" href="mailto:info@dreamkamtour.ru">info@dreamkamtour.ru</a>
                    <a class="contacts__link-map" href="https://yandex.ru/maps/-/CCUavNALXB" target="_blank">ул. Рубиннштерна, 41</a>
                </ul>
            </div>
        </div>

        <div class="footer__row">
            <p class="footer__date">2021 © Dreamkam Tour</p>
        </div>
    </div>
</footer>