<header class="header">
    <div class="header__container container">
        <div class="header__logo">
            <img src="img/logo-img.png" alt="" class="header__logo-icon">
            <img src="img/logo-text.png" alt="DREAMKAM Toor" class="header__logo-text">
        </div>
        <nav class="header__nav">
            <ul class="nav nav__list">
                <li class="nav__item">  <a href="#" class="nav__link">Расписание тура</a>   </li>
                <li class="nav__item">  <a href="#" class="nav__link">Как записаться</a>   </li>
                <li class="nav__item">  <a href="#" class="nav__link">Команда</a>   </li>
                <li class="nav__item">  <a href="#" class="nav__link nav__link--border">Забронировать</a>   </li>
            </ul>
        </nav>
    </div>
</header>
