<section class="home">
    <div class="home__container container">
        <div class="home__item">
            <h1 class="home__title">Мечты о далекой Камчатке - близко</h1>
            <p class="home__date">23.06 - 04.07  DREAM TOUR</p>
            <p class="home__descr">Тур перевернет ваш мир с ног на голову и оставит впечатления на всю жизнь.</p>
            <a href="#" class="home__timetable-link">
                <div class="home__timetable">
                    <span>Расписание тура</span>
                    <div class="home__timetable-icon">
                        <img src="img/right-arrow 5.png" alt="">
                    </div>
                </div>
            </a>
        </div>
        <div class="home__item"></div>
    </div>
</section>