// value container
$maxWidth: 1920;
$maxWidthContainer: 1246;

// value Font-Size
$minFontSize: 16;
$maxFontSize: 22;
$addSize: $maxFontSize - $minFontSize;

@function count-rem($value) {
	@return $value / $maxFontSize + rem;
}
// COLORS
$primary: #275553;
$orange: #F47648;
$black: #212121;
$darkGrey: #5A5A5A;
$gray: #BABABA;
$white: #FFFFFF;

